/* Navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #20165d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav_items a {
  font-size: 20px;
  margin: 15px;
  color: white;
  text-decoration: none;
}

.navbar-nav {
  background-color: #20165d;
}

.navbar-container-logo {
  width: 90px;
  height: 90px;
}

.navbar-container-logo a {
  margin: 0px;
}

.navbar-logo {
  width: 100%;
}

.navbar-toggler:focus {
  border: 1px solid #20165d !important;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
/* Footer */
footer {
  width: 100%;
  color: white;
}

.footer-info {
  background-color: #171042;
}

.footer-info-module span {
  font-size: 20px;
  font-weight: 700;
}

.list-unstyled li {
  font-size: 13px;
}

.footer-brand {
  background-color: #20165d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-info-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-brand {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #28bed1;
}

/*  Comienzo Slider */

.slider {
  width: 100%;
  text-align: center;
}

.slider img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
/* Fin Slider */

/* Comienzo CardCategory y Card */
.card {
  width: 200px;
  margin: 100px;
}

.card-img-top {
  border-radius: 50%;
  width: 100%;
}

/* Borra el borde de la tarjeta */
.card {
  border: none;
}

/* Estilos para viewport mas pequeños */
@media (max-width: 768px) {
  .card {
    width: 150px;
    margin: 50px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100px;
    margin: 30px;
  }
}
/* Fin CardCategory y Card */

/* Comienzo Promotions */
.promociones-wrapper {
  display: flex;  
  width: 80%;  
  margin: 0 auto;
}

.promocion {
  width: 35%;  
  padding: 20px;    
  margin: 0 10px;  
  text-align: center; 
}

.info {
  margin-top: 50px;
}

.info,
.h3-promotions {
  margin: 0;
  font-size: 18px;
}

.info,
.p-promotions {
  font-size: 14px;
  color: #777;
}

.arrows {
  display: flex;      
}  

.prev {
  margin-right: auto; 
}

.next {
  margin-left: auto;
}

.arrows {
  display: flex;      
}  

.prev {
  margin-right: auto; 
}

.next {
  margin-left: auto;
}

.prev-btn,
.next-btn {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: #000;
}

.prev-btn {
  float: left;
}

.next-btn {
  float: right;
}

/* Borrado el borde de las tarjetas */
.promocion {
  border: none;
}
/* Fin Promotions */

/* Comienzo Contact */

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

input, textarea {
  width: 100%;
  padding: 10px;  
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background: #20165d;
  color: white;
  border: 0; 
}

.info-item {
  display: flex;
  align-items: center; 
}

.info-item p {
  margin-left: 0.5cm;
}

/* Fin Contact */

/* Comienzo Map */
.map { 
  width: 100%;
   height: 250px; 
   margin-top: 20px;
  border: none; }
  
  .map { display: block;
  margin: 0 auto; }