/* Footer */
footer {
  width: 100%;
  color: white;
}

.footer-info {
  background-color: #171042;
}

.footer-info-module span {
  font-size: 20px;
  font-weight: 700;
}

.list-unstyled li {
  font-size: 13px;
}

.footer-brand {
  background-color: #20165d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-info-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-brand {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #28bed1;
}
