/* Navbar */
.navbar {
  background-color: #ff8d01;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  text-align: center;
}

.navbar img{
  width: 90px;
  align-items: center;
  margin: 0;
}

.nav_items a{
  font-size: 20px;
  margin: 15px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* Footer */
footer {
  width: 100%;
  color: white;
}

.footer-info {
  background-color: #171042;
}

.footer-info-module span {
  font-size: 20px;
  font-weight: 700;
}

.list-unstyled li {
  font-size: 13px;
}

.footer-brand {
  background-color: #20165d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-info-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-brand {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #28bed1;
}
